.vl {
    position: relative;
    height: 300px; /* Adjust container height as needed */
    background-color: #333; /* Adjust background color as needed */
  }
 .vertical-line {
    position: absolute;
    top: 50px; /* Adjust the desired distance from the top */
    left: 0;
    margin-left: 20px;
    border-left: 2px solid white; /* Adjust color and thickness as needed */
    height: calc(100% - 90px); /* Adjust height based on container height and top value */
  }
  .act:hover{

    color:rgb(255, 102, 0);

  }
  .act{
    color:white;

  }
 